:root {
	--black: #181818;
	--darkgray: #1d1d1d;
	--gray: #333;
	--lightgray: #8d8d8d;
	--green: #08fdd8;
	--transparent-green: rgba(8, 253, 216, .1);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: var(--darkgray);
	color: var(--lightgray);
}

.container {
	width: 80%;
	margin: auto;
}

a {
	text-decoration: none;
	color: var(--lightgray);
	transition: color .3s;
}

a:hover {
	color: var(--green);
}

.hidden {
	display: none;
}

.scroll-disabled {
	height: 100%;
	overflow: hidden
}

.menu-slidein {
	animation: menuSlidein .3s;
}

.menu-slideout {
	animation: menuSlideout .3s;
	animation-fill-mode: forwards;
}

h2 {	
	text-align: center;
	font-size: 30px;
}

h3 {
	color: var(--green);
}

p {
	line-height: 1.4;
}

header {
	position: sticky;
	top: 0;
	z-index: 999;
}

nav {
	background: var(--black);
	padding: 20px;
	text-align: right;
}

nav .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav img {
	width: 30px;
	height: 30px;
}

nav ul {
	margin: 0;
}

nav ul li {
	display: inline-block;
	margin-left: 50px;
}

#showcase {
	height: calc(100vh - 76px);
	display: flex;
	align-items: center;
}

h1 {
	font-size: 60px;
	color: #fff;
	animation: slidein 1s;
}

#showcase p {
	font-size: 20px;
	display: flex;
    align-items: center;
    animation: fadein 1.5s;
}

#showcase p:after {
	content: '';
	flex: 1;
	margin-left: 1rem;
	height: 1px;
	background: var(--lightgray);
}

#showcase a {
	border: 1px solid;
	padding: 15px 20px;
	margin: 20px 0;
	display: inline-block;
	color: var(--green);
	animation: fadein 1.5s;
	transition: background .3s;
}

#showcase a:hover {
	background: var(--transparent-green);
}

.card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
	align-items: center;
	margin: 100px 0;
	width: 80%;
	padding: 30px;
	background: var(--gray);
}

.card a:first-of-type {
	position: relative;
}

.card img {
	width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--transparent-green);
    transition: opacity .3s;
}

a:hover .overlay {
    opacity: 0;
}

.card ul {
	padding: 0;
}

.card ul li {
	display: inline-block;
	margin-right: 10px;
	padding: 0;
}

.card i {
	margin-right: 15px;
}

.left-aligned-card div {
	text-align: right;	
}

.left-aligned-card ul li {
	margin-right: 0;
	margin-left: 10px;
}

.left-aligned-card i {
	margin-right: 0;
	margin-left: 15px;
}

.right-aligned-card {
	margin-left: auto;
	margin-right: 0;
}

.right-aligned-card a {
	order: 1;
}

#about .container > div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	margin: 100px 0;
	font-size: 20px;
}

.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skills ul {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 0 20px;
	list-style: none;
}

.skills ul li {
	margin: 5px;
}

#contact {
	text-align: center;
}

#contact .container div {
	padding-top: 100px;
	font-size: 20px;
}

#projects, #about, #contact {
	padding: 80px 0;
}

footer {
	background: var(--black);
	text-align: center;
}

footer p {
	margin: 0;
	padding: 15px 0;
}

@media (max-width: 768px) {
	nav ul {
		position: absolute;
		top: 0;
		right: 0;
		width: 75vw;
		height: 100vh;
		background: var(--black);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		display: none;
	}

	nav ul li {
		margin: 5vh 0;
	}

	nav li.hidden {
		display: block;
	}

	nav li i:hover {
		color: var(--green);
		cursor: pointer;
	}

	.card {
		width: calc(100% - 60px);
		grid-template-columns: 1fr;
	}

	.right-aligned-card a {
		order: 0;
	}

	#about .container > div {
		grid-template-columns: 1fr;
	}

	.skills ul {
		padding: 0;
	}
}

@keyframes slidein {
	0% {
	    transform: translateY(60px);
	    opacity: 0;
	}
}

@keyframes fadein {
	0% { opacity: 0; }
	45% { opacity: 0; }
}

@keyframes menuSlidein {
	0% { transform: translateX(75vw); }
}

@keyframes menuSlideout {
	100% { transform: translateX(75vw); }
}

/*@media (max-width: 767px) {
	h2 {
		font-size: 30px;
	}

	#portfolio .container {
		grid-template-columns: 1fr;
	}

	#portfolio button {
		font-size: 15px;
	}

	#about p {
		font-size: 15px;
	}

	#contact p {
		font-size: 15px;
	}

	#contact a:first-of-type {
		font-size: 15px;
	}

	#contact h3 {
		font-size: 13px;
	}
}*/